<div class='container'>
<h1>Allocate Price Plan</h1>
<form>
<label for="plan">Username:</label><input type='text' name='Username'><br></br>
<label for='plan'>Price Plan:</label>
<select id="plan" name='plan'>
<option value="sms">sms 100<\option>
<option value="sms">sms 200<\option>
<option value="call">call weekly<\option>
</select>
<br></br>
<button type="submit">Allocate</button>
</form>
</div>