
<div class='container'>
<h1>Phone bill widget</h1>
<h2>calculate the total biil for the user</h2>
<form action="" method="post">
 <ul>
  <li>
    <label for="name">Username:</label>
    <input type="text" id="name" name="username">
  </li>
  <li>
    <label for="mail">user string:</label>
    <input type="string" id="string" name="user_string>
  </li>
 <div class='links'>
 
 </ul>
</form>
</div>