<div class ="">
<form action="">
<label for='plan'>Allocate the price plan to username </label>
<select>
<option value="sms">sms</option>
<option value="call">call</option>

</select>



</form>
<form action="/clear" class="buttonGreeting" method="post">
<button class="button-primary Allocate" type="submit" name="button">Allocate</button>
</form>



</div>